# Python
__pycache__/
*.pyc
*.sqlite3

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# Keep example environment files
!.env.example

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log


# Django
staticfiles/
media/

# Docker
*.log

# OS
.DS_Store
Thumbs.db